## MAC files ##
.DS_Store

## NPM ##
node_modules/
configs/

# Compiled Dirs (http://nodejs.org/api/addons.html)
public/*
!public/index.html
__snapshots__
api.tests.test.js
seeding.csv
newrelic.js
newrelic_agent.log

#keyfile
*.pem
*.sh

# env variables
.env*