## MAC files ##
.DS_Store

## NPM ##
node_modules/

# Compiled Dirs (http://nodejs.org/api/addons.html)
public/*
!public/index.html
__snapshots__
nosql_database.config.js
sql_database.config.js
api.tests.test.js

#keyfile
*.pem
*.sh

# env variables
.env*